<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demo.jzfp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.demo.jzfp.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.demo.jzfp.service.IAppService"
            android:enabled="true" >
        </service>

        <activity
            android:name="com.demo.jzfp.activity.MainActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.RegisterActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.VillagesActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.VillagesActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.EditPwdActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ChooseAreaActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.VillagesTextActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.SupportActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.AducationActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.EconomyActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ReasonActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.MemberActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesDetailsActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesEditActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesPoorActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesPoorActivity3" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.MeasuresActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.MeasuresActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.EffectActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.MeasureDetailActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.BasicActivity" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.VillagesTextActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesDetailsActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesEditActivity2" >
        </activity>
        <activity android:name="com.demo.jzfp.activity.ArchivesPoorActivity2" >
        </activity>
    </application>

</manifest>